Package: debmatic-lxc-host
Version: {PKG_VERSION}
Architecture: all
Maintainer: Alexander Reinert <alex@areinert.de>
Depends: pivccu-modules-dkms (>= 1.0.33)
Conflicts: pivccu, pivccu3, debmatic
Section: misc
Priority: extra
Homepage: https://github.com/alexreinert/debmatic
Description: debmatic - Homematic CCU on debian based distributions
  This package contains debmatic - a Homematic CCU on debian based distributions

