Package: cuxd
Version: {PKG_VERSION}
Architecture: {PKG_ARCH}
Maintainer: Alexander Reinert <alex@areinert.de>
{DEPENDS}
Recommends: curl, digitemp, dfu-programmer, etherwake, socat
Section: debmatic-addons
Priority: extra
Homepage: http://cuxd.de
Description: CuXD addon for debmatic

