[Unit]
Description=debmatic update lgw firmware
PartOf=debmatic.service
After=debmatic.service
After=network-online.target
Before=debmatic-updatelgwkey.service
Before=debmatic-rfd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/share/debmatic/bin/wait_network_up.sh
ExecStart=/usr/share/debmatic/bin/update_lgw_firmware.sh
TimeoutSec=300s

[Install]
WantedBy=debmatic.service
WantedBy=debmatic-updatelgwkey.service
WantedBy=debmatic-rfd.service

