[Unit]
Description=debmatic
After=systemd-udev-settle.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/share/debmatic/bin/initsystem.sh

[Install]
WantedBy=multi-user.target

