[Unit]
Description=debmatic eq3configd
PartOf=debmatic.service
After=debmatic.service
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/eq3configd
ExecStartPost=/usr/share/debmatic/bin/create_pid_file /var/run/eq3configd.pid /bin/eq3configd
ExecStopPost=/bin/rm -f /var/run/eq3configd.pid
Restart=on-abnormal
RestartSec=5s

[Install]
WantedBy=debmatic.service
WantedBy=debmatic-startupfinished.service

