[Unit]
Description=debmatic hs485d
PartOf=debmatic.service
After=debmatic.service
After=network-online.target
Before=debmatic-hmserver.service
Before=debmatic-rega.service
ConditionPathExists=!/var/status/debmatic_avoid_hs485d

[Service]
Type=forking
Environment=LOGLEVEL_HS485D=5
EnvironmentFile=/var/hm_mode
EnvironmentFile=-/etc/config/syslog
PIDFile=/var/run/hs485dLoader.pid
ExecStart=/bin/hs485dLoader -l ${LOGLEVEL_HS485D} -dw /etc/config/hs485d.conf
Restart=on-abnormal
RestartSec=5s

[Install]
WantedBy=debmatic.service
WantedBy=debmatic-hmserver.service
WantedBy=debmatic-rega.service
WantedBy=debmatic-startupfinished.service

