[Unit]
Description=debmatic multimacd
PartOf=debmatic.service
After=debmatic.service
Before=debmatic-rfd.service
ConditionPathExists=!/var/status/debmatic_avoid_multimacd

[Service]
Type=forking
EnvironmentFile=/var/hm_mode
TimeoutStartSec=22
PIDFile=/var/status/multimacd.status
ExecStart=/usr/share/debmatic/bin/start_multimacd.sh
ExecStopPost=-/bin/rm -f /var/run/multimacd.pid
ExecStopPost=-/bin/sleep 5
ExecStopPost=-/sbin/rmmod eq3_char_loop
Restart=on-abnormal
RestartSec=5s

[Install]
WantedBy=debmatic.service
RequiredBy=debmatic-rfd.service
WantedBy=debmatic-startupfinished.service

