[Unit]
Description=debmatic
After=systemd-udev-settle.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/share/debmatic/bin/initsystem.sh
ExecStopPost=-/bin/sh -c '/bin/rm -f /var/status/hasUSB /var/status/hasSD /var/status/USBinitialised /var/status/SDinitialised /var/status/debmatic_* /var/ids /var/rf_* /var/hm_* /var/hmip_* /var/board_* /var/status/hasInternet /var/status/hasIP /var/status/hasLink /var/status/HMServerStarted /var/*.handlers /var/status/*.connstat /var/SESSIONS.dat /var/tmp/vrcMigrationGate'
ExecStopPost=-/bin/echo - > /sys/module/hb_rf_eth/parameters/connect
ExecStopPost=-/sbin/rmmod hb_rf_eth
TimeoutSec=300s

[Install]
WantedBy=multi-user.target

