[Unit]
Description=debmatic hmserver
PartOf=debmatic.service
After=debmatic.service
Before=debmatic-rega.service

[Service]
Type=forking
TimeoutStartSec=242
EnvironmentFile=/var/hm_mode
ExecStart=/usr/share/debmatic/bin/start_hmserver.sh
ExecStopPost=/bin/rm -f /var/run/HMIPServer.pid
Restart=on-abnormal
RestartSec=5s

[Install]
WantedBy=debmatic.service
WantedBy=debmatic-rega.service
WantedBy=debmatic-startupfinished.service

