[Unit]
Description=debmatic rega
PartOf=debmatic.service
After=debmatic.service
After=network-online.target
After=debmatic-hmserver.service
After=debmatic-rfd.service
After=debmatic-hs485d.service
Before=debmatic-startupfinished.service

[Service]
Type=forking
Environment=LOGLEVEL_REGA=2
EnvironmentFile=/var/hm_mode
EnvironmentFile=-/etc/config/syslog
ExecStartPre=-/usr/share/debmatic/bin/wait_network_up.sh
ExecStart=/usr/share/debmatic/bin/start_rega.sh
ExecStartPost=-/usr/share/debmatic/bin/wait_sysvar_creation.tcl
ExecStop=/usr/share/debmatic/bin/stop_rega.sh
ExecStopPost=/bin/rm -f /var/run/ReGaHss.pid
Restart=on-failure
RestartSec=5s
TimeoutSec=180s

[Install]
WantedBy=debmatic.service
WantedBy=debmatic-startupfinished.service

