[Unit]
Description=debmatic
After=systemd-udev-settle.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/share/debmatic/bin/initsystem.sh
ExecStopPost=-/bin/echo - > /sys/module/hb_rf_eth/parameters/connect
ExecStopPost=-/sbin/rmmod hb_rf_eth

[Install]
WantedBy=multi-user.target

