[Unit]
Description=debmatic hmserver
PartOf=debmatic.service
After=debmatic.service
Before=debmatic-rega.service
Before=debmatic-startupfinished.service

[Service]
Type=forking
TimeoutStartSec=242
EnvironmentFile=/var/hm_mode
ExecStart=/usr/share/debmatic/bin/start_hmserver.sh
ExecStartPre=/usr/share/debmatic/bin/add_fw_block.sh "debmatic_hmserver" 32010 39292
ExecStopPost=/bin/rm -f /var/run/HMIPServer.pid
ExecStopPost=/usr/share/debmatic/bin/delete_fw_block.sh "debmatic_hmserver" 32010 39292
Restart=on-abnormal
RestartSec=5s
TimeoutSec=300s

[Install]
WantedBy=debmatic.service
WantedBy=debmatic-rega.service
WantedBy=debmatic-startupfinished.service

