[Unit]
Description=HB-UNI-Sensor1
PartOf=debmatic.service
After=debmatic.service
After=debmatic-prepareinterfaceslist.service
Before=debmatic-lighttpd.service
Before=debmatic-rega.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/addons/hb-uni-sensor1/ensure_patches.sh

[Install]
WantedBy=debmatic.service
WantedBy=debmatic-rega.service
WantedBy=debmatic-startupfinished.service

